/* component/auth/auth.wxss */
.modal-header {
  padding: 0 43.5rpx;
  /* margin-top: 58rpx; */
  margin: 20rpx 0;
  font-family: PingFangSC-Medium;
  font-size: 33rpx;
  color: #1c2438;
  letter-spacing: 0.25rpx;
  text-align: center;
  width: 521rpx;
  border-top-left-radius: 10rpx;
  border-top-right-radius: 10rpx;
  /* border-bottom: 1rpx solid #eded; */
}
.modal-footer {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-top: 1rpx solid #e5e5e5;
  width: 100%;
  height: 90rpx;
  background: #fff;
  border-bottom-left-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
}
.modal-body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 30rpx 0;
}

.btn {
  flex: 1;
  text-align: center;
  padding: 19rpx 5rpx;
}
.btn-primary {
  font-weight: 0;
  font-family: PingFangSC-Regular;
  font-size: 32rpx;
  color: #2cd3b3;
  letter-spacing: 0.3rpx;
}

.phone-number{
  display: flex;
  flex-direction: row;
  margin: 0 20rpx;
  padding-bottom: 20rpx;
  align-items: flex-end;
  font-size: 30rpx;
}
.phone-number-input{
  width: 300rpx;
  border-bottom: 1rpx solid #e5e5e5;
  font-size: 30rpx;
  /* border: 1rpx solid red; */
}
.body-content{
  display: flex;
  flex-direction: column;
}
.phone-number-code{
  border-bottom: 1rpx solid #e5e5e5;
  width: 150rpx;
  /* border: 1rpx solid red; */
}
.code {
  font-family: PingFang-SC;
  font-size: 30rpx;
  color: #495060;
  width:160rpx;
  text-align: center
}
.phone-tip{
  color: #495060;
  font-size: 30rpx;
  margin-right: 8rpx;
}
/* 2CD3B3 */
.btn-oauth {
  background: #fff;
  text-align: center;
  z-index: 0;
  height: 92rpx;
  width: 100%;
  /* width:311rpx; */
  border-radius: 0;
  border-bottom-right-radius: 10rpx;
}