@import "../../template/ablum/ablum-list.css";

.container {
  width: 100%;
  margin-bottom: 56rpx;
}

.bottom-bank {
  width: 100%;
  height: 100rpx;
}

.play-float {
  position: fixed;
  bottom: 100rpx;
  right: 20rpx;
}

.play-float image {
  height: 120rpx;
  width: 120rpx;
  border-radius: 50%;
}

.xuanzhun {
  /* transform-origin:20% 40%; *//* animation: rotate 4s linear infinite; */
  -webkit-animation: spin 4s linear 1s 5 alternate;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
