.modal-header {
  padding: 0 43.5rpx;
  margin-top: 58rpx;
  font-family: PingFangSC-Medium;
  font-size: 33rpx;
  color: #333;
  letter-spacing: 0.25rpx;
  text-align: center;
  width: 521rpx;
  border-top-left-radius: 10rpx;
  border-top-right-radius: 10rpx;
  /* border-bottom: 1rpx solid #eded; */
}

.btn {
  flex: 1;
  text-align: center;
  padding: 19rpx 5rpx;
}

.modal-footer {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-top: 1rpx solid #e5e5e5;
  width: 100%;
  height: 90rpx;
  background: #fff;
  border-bottom-left-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
}

.btn-primary {
  font-weight: 0;
  font-family: PingFangSC-Regular;
  font-size: 32rpx;
  color: #2cd3b3;
  letter-spacing: 0.3rpx;
}

.btn-border {
  border-right: 1rpx solid #eded;
}

/* .modal-footer button {
  
} */

.modal-footer-button{
  color: #fff;
  border: 0;
  padding: 0;
  border-top: 1rpx solid #eded;
  background-color: #FFFFFF;
}
.modal-footer-button::after{
	border: none;
}

.btn-contact::after {
  border: 0;
  border-radius: 0;
}

/* 2CD3B3 */

.btn-contact {
  background: #fff;
  text-align: center;
  z-index: 0;
  height: 92rpx;
  width: 100%;
  border-radius: 0;
  border-bottom-right-radius: 10rpx;
  border-bottom-left-radius: 10rpx;
}

.btn-contact-text{
  color: #19be6b;

}
/* .btn-contact text {
} */
